/* BASE */
@import "partials/base/theme";
@import "partials/base/reset";
@import "partials/base/mixins";
@import "partials/base/variables";
@import "partials/base/typography";
@import "partials/base/base";
@import "partials/base/keyframes";

/* LAYOUT */
@import "partials/layout/titles";
@import "partials/layout/containers";
@import "partials/layout/grid";
@import "partials/layout/flex-columns";
@import "partials/layout/header";
@import "partials/layout/footer";
@import "partials/layout/nav";

/* PAGES */
@import "partials/pages/page-404";

/* UI */
@import "partials/ui/buttons";
@import "partials/ui/hamburger";
@import "partials/ui/scroll";

@font-face {
    font-family: roboto;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

* {
    font-family: roboto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

#graph-container {
    height: 100vh;
}

#page-content {
}

.block-embed-service-youtube {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
